.right{
    right: 0;
    background-color: #FFFBD9;
}
.left{
    left: 40;
    background-color: white;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.right h5{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 275;
    font-size: 64px;
    line-height: 96px;
    color: black;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
} 
