header{
    width: 100%;
    background-color: #FFB952;
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

header a{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    float: left;
    text-align: center;
    padding: 2.5vh;
    text-decoration: none;
    font-size: 2.4vh;
}

header a:hover{
    color: white;
}

header .right{
    float: right;
}

header .right a:hover {
    color: #FFB952;
}

header h1{
    color: white;
    float: none;
    font-family: 'Poppins';
    font-style: normal;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -25%);
    font-weight: 500;
    font-size: 5vh;
} 