.gm-style .gm-style-iw-d::-webkit-scrollbar-track, 
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c { 
  background: #FFB952;
  padding: 0px;
}

.header {
    padding: 30px;
    font-size: 1rem;
}

.header h4 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.8rem;
}

.content {
    padding: 30px;
    background-color: white;
    font-size: 15px;
}

.mentorConent {
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 1rem;
}

.mentorConent .mentorHeader {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.mentorConent .mentorName {
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.mentorConent img {
    width: 1rem;
}
